<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft Extended Correctness Rules (Customised)"
         Description="Custom ruleset for Enable projects."
         ToolsVersion="15.0">
    <Include Path="BasicCorrectnessRules.ruleset"
             Action="Default" />
    <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis"
           RuleNamespace="Microsoft.Rules.Managed">
        <Rule Id="CA1054"
              Action="None" />
        <Rule Id="CA1056"
              Action="None" />
        <Rule Id="CA1303"
              Action="None" />
		<Rule Id="CA1304"
              Action="None" />
		<Rule Id="CA1305"
              Action="None" />
        <Rule Id="CA1707"
              Action="None" />
        <Rule Id="CA1802"
              Action="None" />
	    <Rule Id="CA1822"
              Action="None" />
        <Rule Id="CA2007"
              Action="None" />
        <Rule Id="CA2227"
              Action="None" />
    </Rules>
    <Rules AnalyzerId="StyleCop.Analyzers"
           RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1028"
              Action="None" />
        <Rule Id="SA1101"
              Action="None" />
        <Rule Id="SA1200"
              Action="None" />
        <Rule Id="SA1309"
              Action="None" />
        <Rule Id="SA1516"
              Action="None" />
        <Rule Id="SA1600"
              Action="None" />
        <Rule Id="SA1601"
              Action="None" />
        <Rule Id="SA1611"
              Action="None" />
        <Rule Id="SA1615"
              Action="None" />
        <Rule Id="SA1618"
              Action="None" />
        <Rule Id="SA1633"
              Action="None" />
        <Rule Id="SA1634"
              Action="None" />
        <Rule Id="SA1652"
              Action="None" />
        <Rule Id="SX1101"
              Action="Warning" />
        <Rule Id="SX1309"
              Action="Warning" />
        <Rule Id="SX1309S"
              Action="Warning" />
    </Rules>
</RuleSet>
